{% extends 'layout.html' %}
{% block content %}
<div class="text" >
    <h2>This is some text!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sequi vitae, consequuntur, 
        dicta provident beatae libero numquam at et tenetur fugit doloribus voluptatum in fugiat nihil.
         Sapiente nihil illum adipisci?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sequi vitae, consequuntur, 
            dicta provident beatae libero numquam at et tenetur fugit doloribus voluptatum in fugiat nihil.
             Sapiente nihil illum adipisci?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sequi vitae, consequuntur, 
                dicta provident beatae libero numquam at et tenetur fugit doloribus voluptatum in fugiat nihil.
                 Sapiente nihil illum adipisci?</p>
</div>
{% endblock content %}